* {
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    font-weight: bold !important;
}

.nav-link:hover {
    border-bottom: 2px red solid;
}

/* .dropdown-menu a:hover {
    border-bottom: 3px red solid 50px;
} */

.dropdown-menu {
    text-align: center !important;
    border: none !important;
    padding: 10px 10px 10px 10px !important;
}

.desc-service {
    color: #808B96;
}

/* BARRA DE REDES SOCIALES*/
.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: -40px;
    /* Establecemos la barra en la izquierda */
    top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    width: 40px;
    padding: 5px 12px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .facebook {
    background: #3b5998;
}

/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .twitter {
    background: #00abf0;
}

.social ul li .google {
    background: #d95232;
}

.social ul li .youtube {
    background: #ae181f;
}

.social ul li .mail {
    background: #666666;
}

.social ul li a:hover {
    background: black;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 5px 40px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}


.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}


.descripcion {
    position: absolute;
    margin: 0;
}



/*HOVER EN IMAGENES*/

.div-imagen {
    display: inline-block;
    position: relative;
}

.div-imagen>div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
}

.imagen:hover {
    opacity: 0.05;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;

}



/* card team */
/* FontAwesome for working BootSnippet :> */

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    /*min-height: 500px;*/
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

/* .frontside .card .card-body img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
} */

.tecnologia {
    opacity: 0.4;
}

.tecnologia:hover {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.servicios-imagen {
    background-image: url(../img/servicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

label {
    color: red;
}

.cosmos {
    background-image: url(../img/cosmos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




/* PORTAFOLIO*********************************************** */

.menu ul {
    list-style: none;
    width: 100%;
    display: table;
}

.menu .todos {
    border-radius: 50px 0px 0px 50px;
}

.menu .redes {
    border-radius: 0px 50px 50px 0px;
}

.menu ul li {
    display: table-cell;
    /* width: calc(20px * 4); */
    width: 20px;
    border: 1px solid grey;
    background: #E5E8E8;
}

.menu ul li:hover {
    background: #B2BABB;
    color: white;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}

.box-img {
    /* width: 110px; */
    margin: 10px;
    border-top: 5px solid red;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);
    overflow: hidden;
}

.box-img img {
    margin-left: -15px;
    width: 112%;
    height: 300px;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.5s ease;
}

.box-img img:hover {
    transform: scale(1.7);
}

.active-btn {
    background-color: #B2BABB !important;
}

/* Smartphones (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .slider-img {
        width: 100%;
        height: 20rem;
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    .slider-img {
        width: 100%;
        height: 20rem;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    .slider-img {
        width: 100%;
        height: 20rem;
    }
}

/* Ordenadores de sobremesa y portátiles */
@media only screen and (min-width : 1224px) {
    .slider-img {
        width: 100%;
        height: 40rem;
    }
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
    .slider-img {
        width: 100%;
        height: 40rem;
    }
}